installCRDs: true

controller:
  replicas: 1

  resources:
    requests:
      cpu: 50m
      memory: 128Mi
    limits:
      cpu: 200m
      memory: 256Mi

  metrics:
    enabled: true
    serviceMonitor:
      enabled: false

dashboard:
  enabled: false