apiVersion: v1
kind: Service
metadata:
  name: alloy-otlp
  namespace: monitoring
spec:
  selector:
    app.kubernetes.io/name: alloy
  ports:
    - name: otlp-grpc
      port: 4317
      targetPort: 4317
    - name: otlp-http
      port: 4318
      targetPort: 4318