apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: argocd-notifications-slack-token
  namespace: argocd
spec:
  refreshInterval: 1h
  secretStoreRef:
    kind: ClusterSecretStore
    name: aws-secrets-manager

  target:
    name: argocd-notifications-secret
    creationPolicy: Owner

  data:
    - secretKey: slack-token
      remoteRef:
        key: argocd/slack
        property: token